body{
    font-family:"Serif";
    margin: 0;
    padding: 0;   
    font-family: serif;
    width: 100%;
    height: 100%;
    background-color: #0085c7;
}

*{
    box-sizing: border-box;
}

.header{ 
    text-align: left;
    background-color: #008faf;
    padding: 20px;
    font-size: 2vw;
    border: 10px;
    border-radius: 2.5px;
    width: 100%;
    height: 100%;
}

.header_logo{
    width: 30%;
    border-radius: 10px;
}

.header_logo:hover{
    background-color: #00728b;
}

.nav{
    width: 100%;
    background-color: #00a7cc;
    overflow: auto;
}

.nav a{
    float: left;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: 1vw;
    width: 10%;
    text-align: center;
}

.nav a:hover {
    background-color: #00708a;
}

.nav .active {
    background-color: #00708a;
}

/* navigation bar change if screen resolution changed smaller */
@media screen and (max-width: 800px) {
    .nav a{
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 10px;
    }
}

.column{
    float: left;
    width: 100%;
}

.slice{
    float: left;
    margin: 10px;
    max-width: 1880px;
    width: 100%;
}

/* automatic slideshow */
.slide{display: none;}

.slideshow_container{
    max-width:1240px;
    position: relative;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.slide_article{
    max-width: 630px;
    position: relative;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
}

.image_container{
    max-width: 1000px;
    position: relative;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.method_article {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 860px;
    margin-bottom: 4vw;
}

.seafood_container{
    max-width: 1000px;
    position: relative;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 4vw;
}

.seafood_article {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 860px;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: 0.5;}
    to {opacity: 1;}
}

.section{
    float: left;
    margin: 30px;
    padding: 5%;
    background-color: white;
    width: 60%;
    height: 100%;
}

.footer{
    background-color: #008faf;
    text-align: center;
    font-size: 1.0vw;
    padding: 10px;
    width: 100%;
    bottom: 0;
    position: fixed;
}

button{
    padding: 0.8vw;
    font-size: 1.4vw;
    text-decoration: none;
    text-align: center;
    font-family: serif;
    border: 2px solid black;
    color: black;
}

button:hover{
    background-color: grey;
    cursor: pointer;
}

table{
    font-family: serif;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 20%;
    border-collapse: collapse;
    background-color: #0095e0;
}

td,th{
    border: 1px solid #002131;
    text-align: left;
    padding: 5px;
    width: 25%;
}

tr:nth-child(even){
    background-color: #0078b4;
}

/* text resizing */
h1{
    padding: 1vw;
    font-size: 2.1vw;
    background-color: #00a7cc;
}

h2{
    padding: 1vw;
    font-size: 1.9vw;
    background-color: #00a7cc;
}

p{
    font-size: 1.6vw;
    padding: 5px;
}
