<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %}Seafood{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
    {% endblock %}
</head>

<body>

    <div class="header">{% block header %}{% endblock %}</div>

    <div class="nav">{% block nav %}{% endblock %}</div>

    <div class="textbox">{% block textbox %}{% endblock %}</div>

    <div class="row">{% block row %}{% endblock %}</div>

    <div class="column">{% block column %}{% endblock %}</div>

    <table>{% block table %}{% endblock %}</table>

    <div class="footer">{% block footer %}{% endblock %}</div> 


    
</body>
</html>