<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %}Seafood{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>
    {% endblock %}
</head>

<body onload="slides()">{% block body %}

    <div class="header">{% block header %}{% endblock %}</div>

    <div class="nav">{% block nav %}{% endblock %}</div>
    
    <div class="slideshow_container">{% block container %}{% endblock %}</div>

    <div class="article">{% block article %}{% endblock %}</div>

    <div class="row">{% block row %}{% endblock %}</div>

    <div class="column">{% block column %}{% endblock %}</div>

    <table>{% block table %}{% endblock %}</table>

    <div class="footer">{% block footer %}{% endblock %}</div> 

{% endblock %}
</body>
</html>