{% extends 'section_layout.html' %}
{% block head %}
    {{super() }}
{% endblock %}

    {% block header %}
        <a href="/"><img src="/static/images/logo.png" alt="Logo" class="header_logo"></a>
    {% endblock %}

    {% block nav %}
        <a href="/">Home</a>
        <a href="/steaming">Steaming</a>
        <a href="/frying">Frying</a>
        <a href="/raw">Raw</a>
        <a href="/grilling">Grilling</a>
        <a href="/baking">Baking</a>
        <a href="/poaching">Poaching</a>
        <a href="/barbecuing">Barbecuing</a>
        <a href="/boiling" class="active">Boiling</a>
    {% endblock %}
    
    {% block slice %}
        <h1>Boiling</h1>
        <p>These seafood dishes are cooked using boiling method, they are cooked using different ingredients from different countries they are originated from.</p>
        <p>This section contains images and infomrations of seafood dishes that are boiled to cook.</p>
    {% endblock %}

    {% block column %}
    {% for i in range(names|length) %}
        <div class="seafood_article">
            <h2>{{ names[i] }}</h2>
            <p>{{ descs[i] }}</p>
        </div>
        <div class="seafood_container">
            <img src="{{ img[i] }}" alt="images">
        </div>
    {% endfor %}
    {% endblock %}

    {% block footer %}
    {% endblock %}
