{% extends 'section_layout.html' %}
{% block head %}
    {{super() }}
{% endblock %}

    {% block header %}
        <a href="/"><img src="/static/images/logo.png" alt="Logo" class="header_logo"></a>
    {% endblock %}

    {% block nav %}
        <a href="/">Home</a>
        <a href="/steaming">Steaming</a>
        <a href="/frying">Frying</a>
        <a href="/raw">Raw</a>
        <a href="/grilling" class="active">Grilling</a>
        <a href="/baking">Baking</a>
        <a href="/poaching">Poaching</a>
        <a href="/barbecuing">Barbecuing</a>
        <a href="/boiling">Boiling</a>
    {% endblock %}
    
    {% block slice %}
        <h1>Grilling</h1>
        <p>These are seafood dishes that are cooked by grilling. Each of these dishes are from different origins cooks foods in each different grilling method.</p>
        <p>This section includes images of grilled seafood dishes with their informations next to each of them.</p>
    {% endblock %}

    {% block column %}
    {% for i in range(names|length) %}
        <div class="seafood_article">
            <h2>{{ names[i] }}</h2>
            <p>{{ descs[i] }}</p>
        </div>
        <div class="seafood_container">
            <img src="{{ img[i] }}" alt="images">
        </div>
    {% endfor %}
    {% endblock %}

    {% block footer %}
    {% endblock %}