{% extends 'layout.html' %}
{% block head %}
    {{super() }}
{% endblock %}

    {% block header %}
        <h1>Logo</h1>
    {% endblock %}

    {% block nav %}
        <a href="/" class="active">Home</a>
        <a href="/steaming">Steaming</a>
        <a href="/frying">Frying</a>
        <a href="/raw">Raw</a>
        <a href="/grilling">Grilling</a>
        <a href="/baking">Baking</a>
        <a href="/poaching">Poaching</a>
        <a href="/barbecuing">Barbecuing</a>
        <a href="/boiling">Boiling</a>
    {% endblock %}
    
    {% block textbox %}
    {% endblock %}

    {% block row %}
        <div class="column">
            <img src="/static/images/placeholder.png" alt="steaming" href="/steaming" style="width:100%;">
        </div>
        <div class="column">
            <img src="/static/images/placeholder.png" alt="frying" href="/frying" style="width:100%;">
        </div>
        <div class="column">
            <img src="/static/images/placeholder.png" alt="raw" href="/raw" style="width:100%;">
        </div>
        <div class="column">
            <img src="/static/images/placeholder.png" alt="grilling" href="/grilling" style="width:100%;">
        </div>
    {% endblock %}

    {% block footer %}
    {% endblock %}
