{% extends 'section_layout.html' %}
{% block head %}
    {{super() }}
{% endblock %}

    {% block header %}
        <a href="/"><img src="/static/images/logo.png" alt="Logo" class="header_logo"></a>
    {% endblock %}

    {% block nav %}
        <a href="/">Home</a>
        <a href="/steaming">Steaming</a>
        <a href="/frying">Frying</a>
        <a href="/raw" class="active">Raw</a>
        <a href="/grilling">Grilling</a>
        <a href="/baking">Baking</a>
        <a href="/poaching">Poaching</a>
        <a href="/barbecuing">Barbecuing</a>
        <a href="/boiling">Boiling</a>
    {% endblock %}
    
    {% block textbox %}
    {% endblock %}

    {% block table %}
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Image</th>
    </tr>
    {% for i in range(names|length) %}
    <tr>
        <td>{{ names[i] }}</td>
        <td>{{ descs[i] }}</td>
        <td><img src="{{ img[i] }}" alt="images"></td>
    </tr>
    {% endfor %}
    {% endblock %}

    {% block footer %}
    {% endblock %}